body {
    font-family: Arial, sans-serif;
    background-color: #BB7B47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #BB7B47;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #b45506;
}

p {
    text-align: center;
    color: #BB7B47;
}

#duty-select {
    height: 100px;
    width: 100%;
}

.dropdown-checklist {
    position: relative;
}
.dropdown-checklist-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}
.dropdown-checklist-content label {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
}
.dropdown-checklist-content label:hover {
    background-color: #f1f1f1;
}
.dropdown-checklist-content input[type="checkbox"] {
    margin-right: 10px;
    width: 10px;
}
.dropdown-checklist button {
    width: 100%;
    text-align: left;
}